{% load comments i18n %}
<form action="{% comment_form_target %}" method="post" id="comment-form" class="form-horizontal">
  <div>{% csrf_token %}</div>
  {% if form.non_field_errors %}
  <div class="error">
    {{ form.non_field_errors }}
  </div>
  {% endif %}

    <legend>{% trans "Post your comment" %}</legend>
    <input type="hidden" name="next" value="{% url 'zinnia:comment_success' %}"/>
    {% for field in form %}
    {% if field.is_hidden %}{{ field }}{% else %}
    {% if user.email and field.name in "namemailurl" %}{% else %}
    <div{% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
    <div class="form-group">
      <label class="control-label col-sm-2">
      {{ field.label_tag }}
      </label>
      {% if field.errors %}{{ field.errors }}{% endif %}
      <div class="col-sm-3">
      {{ field }}
      </div>
    </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    <p class="auth">
      {% trans "Comment as" %} <strong>{% firstof user.get_full_name user.get_username %}</strong>. <a href="{% url 'admin:logout' %}">{% trans "Log out" %}</a>.
    </p>
    {% endif %}
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" name="submit" class="btn btn-default" value="{% trans "Post" %}" />
      <input type="submit" name="preview" class="btn btn-default" value="{% trans "Preview" %}" />
    </div>
    </div>

</form>
