{% load i18n %}
{% load staticfiles %}

         <div id="search-bar">
            <form class="" role="search" method="get" action="{% url 'zinnia:entry_search' %}">
            <div class="form-group">
              <input type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} style="font-family: verdana; inputeight:bold;
            font-size: 10pt; height: 28px; width:186px; color: #000000; padding-left: 2px; float:left; border: 1px solid black; background-color:
            #ffffff" />
              <input type="submit" name="head" class="search" value="&#xf002;">
                  <a title="{% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex queries.' %}">
      <img src="{% static "zinnia/theme/img/help.png" %}" alt="?" class="help" width="14" height="14" />
    </a>
            </div>
            </form>
            </div>